RadiusR.API.Test_Unit/Connected Services/AgentServiceReference/AgentWebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseRequestOfSHA1o_Pr6u_PMh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseRequestOfSHA1o_Pr6u_PMh" nillable="true" type="tns:BaseRequestOfSHA1o_Pr6u_PMh" />
  <xs:complexType name="BaseResponseOfArrayOfValueNamePairSHA1hidXLCfi">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfValueNamePair" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.TelekomInfrastructureService" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOfValueNamePairSHA1hidXLCfi" nillable="true" type="tns:BaseResponseOfArrayOfValueNamePairSHA1hidXLCfi" />
  <xs:complexType name="BaseResponseOfSHA1o_Pr6u_PMh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="tns:ServiceResponse" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponseOfSHA1o_Pr6u_PMh" nillable="true" type="tns:BaseResponseOfSHA1o_Pr6u_PMh" />
  <xs:complexType name="ServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponse" nillable="true" type="tns:ServiceResponse" />
  <xs:complexType name="BaseRequestOfNullableOflongSHA1qBRhzOKh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NullableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfNullableOflongSHA1qBRhzOKh" nillable="true" type="tns:BaseRequestOfNullableOflongSHA1qBRhzOKh" />
  <xs:complexType name="BaseResponseOfAddressDetailsResponseSHA1hidXLCfi">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AddressDetailsResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.TelekomInfrastructureService" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfAddressDetailsResponseSHA1hidXLCfi" nillable="true" type="tns:BaseResponseOfAddressDetailsResponseSHA1hidXLCfi" />
  <xs:complexType name="BaseRequestOfServiceAvailabilityRequestSHA1hidXLCfi">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ServiceAvailabilityRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.TelekomInfrastructureService" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfServiceAvailabilityRequestSHA1hidXLCfi" nillable="true" type="tns:BaseRequestOfServiceAvailabilityRequestSHA1hidXLCfi" />
  <xs:complexType name="BaseResponseOfServiceAvailabilityResponseSHA1hidXLCfi">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ServiceAvailabilityResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.TelekomInfrastructureService" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfServiceAvailabilityResponseSHA1hidXLCfi" nillable="true" type="tns:BaseResponseOfServiceAvailabilityResponseSHA1hidXLCfi" />
  <xs:complexType name="BaseRequestOfAuthenticationRequestSHA256_S6Bq0k7I">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AuthenticationRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.AgentRequests" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfAuthenticationRequestSHA256_S6Bq0k7I" nillable="true" type="tns:BaseRequestOfAuthenticationRequestSHA256_S6Bq0k7I" />
  <xs:complexType name="BaseRequestOfSHA256o_Pr6u_PMh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseRequestOfSHA256o_Pr6u_PMh" nillable="true" type="tns:BaseRequestOfSHA256o_Pr6u_PMh" />
  <xs:complexType name="BaseResponseOfAuthenticationResponseSHA2568F1FUdyT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AuthenticationResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.AgentResponses" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfAuthenticationResponseSHA2568F1FUdyT" nillable="true" type="tns:BaseResponseOfAuthenticationResponseSHA2568F1FUdyT" />
  <xs:complexType name="BaseResponseOfSHA256o_Pr6u_PMh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="tns:ServiceResponse" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponseOfSHA256o_Pr6u_PMh" nillable="true" type="tns:BaseResponseOfSHA256o_Pr6u_PMh" />
  <xs:complexType name="BaseRequestOfNewCustomerRegisterRequestSHA256_S6Bq0k7I">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NewCustomerRegisterRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.AgentRequests" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfNewCustomerRegisterRequestSHA256_S6Bq0k7I" nillable="true" type="tns:BaseRequestOfNewCustomerRegisterRequestSHA256_S6Bq0k7I" />
  <xs:complexType name="BaseResponseOfArrayOfKeyValueOfstringstringSHA256PGu3YCeQ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfKeyValueOf{0}{1}{#}" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
            <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
            <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOfKeyValueOfstringstringSHA256PGu3YCeQ" nillable="true" type="tns:BaseResponseOfArrayOfKeyValueOfstringstringSHA256PGu3YCeQ" />
  <xs:complexType name="BaseRequestOfSMSCodeRequestSHA256_S6Bq0k7I">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SMSCodeRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.AgentRequests" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfSMSCodeRequestSHA256_S6Bq0k7I" nillable="true" type="tns:BaseRequestOfSMSCodeRequestSHA256_S6Bq0k7I" />
  <xs:complexType name="BaseResponseOfSMSCodeResponseSHA2568F1FUdyT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SMSCodeResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.AgentResponses" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfSMSCodeResponseSHA2568F1FUdyT" nillable="true" type="tns:BaseResponseOfSMSCodeResponseSHA2568F1FUdyT" />
  <xs:complexType name="BaseRequestOfAgentSubscriptionsRequestSHA256_S6Bq0k7I">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AgentSubscriptionsRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.AgentRequests" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfAgentSubscriptionsRequestSHA256_S6Bq0k7I" nillable="true" type="tns:BaseRequestOfAgentSubscriptionsRequestSHA256_S6Bq0k7I" />
  <xs:complexType name="BaseResponseOfAgentSubscriptionsResponseSHA2568F1FUdyT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AgentSubscriptionsResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.AgentResponses" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfAgentSubscriptionsResponseSHA2568F1FUdyT" nillable="true" type="tns:BaseResponseOfAgentSubscriptionsResponseSHA2568F1FUdyT" />
  <xs:complexType name="BaseRequestOfParameterlessRequestSHA256_S6Bq0k7I">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ParameterlessRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.AgentRequests" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfParameterlessRequestSHA256_S6Bq0k7I" nillable="true" type="tns:BaseRequestOfParameterlessRequestSHA256_S6Bq0k7I" />
  <xs:complexType name="BaseResponseOfArrayOfKeyValueItemSHA2568F1FUdyT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfKeyValueItem" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.AgentResponses" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOfKeyValueItemSHA2568F1FUdyT" nillable="true" type="tns:BaseResponseOfArrayOfKeyValueItemSHA2568F1FUdyT" />
  <xs:complexType name="BaseRequestOfListFromIDRequestSHA256_S6Bq0k7I">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ListFromIDRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.AgentRequests" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfListFromIDRequestSHA256_S6Bq0k7I" nillable="true" type="tns:BaseRequestOfListFromIDRequestSHA256_S6Bq0k7I" />
  <xs:complexType name="BaseRequestOfPaymentRequestSHA256_S6Bq0k7I">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PaymentRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.AgentRequests" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfPaymentRequestSHA256_S6Bq0k7I" nillable="true" type="tns:BaseRequestOfPaymentRequestSHA256_S6Bq0k7I" />
  <xs:complexType name="BaseResponseOfArrayOflongSHA256PGu3YCeQ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOflong" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOflongSHA256PGu3YCeQ" nillable="true" type="tns:BaseResponseOfArrayOflongSHA256PGu3YCeQ" />
  <xs:complexType name="BaseRequestOfSubscriptionCredentialSMSRequestSHA256_S6Bq0k7I">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SubscriptionCredentialSMSRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.AgentRequests" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfSubscriptionCredentialSMSRequestSHA256_S6Bq0k7I" nillable="true" type="tns:BaseRequestOfSubscriptionCredentialSMSRequestSHA256_S6Bq0k7I" />
  <xs:complexType name="BaseResponseOfbooleanSHA256Miy85_SUl">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfbooleanSHA256Miy85_SUl" nillable="true" type="tns:BaseResponseOfbooleanSHA256Miy85_SUl" />
  <xs:complexType name="BaseRequestOfIDCardValidationRequestSHA256_S6Bq0k7I">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="IDCardValidationRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.AgentRequests" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfIDCardValidationRequestSHA256_S6Bq0k7I" nillable="true" type="tns:BaseRequestOfIDCardValidationRequestSHA256_S6Bq0k7I" />
  <xs:complexType name="BaseRequestOfBillListRequestSHA256_S6Bq0k7I">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="BillListRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.AgentRequests" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfBillListRequestSHA256_S6Bq0k7I" nillable="true" type="tns:BaseRequestOfBillListRequestSHA256_S6Bq0k7I" />
  <xs:complexType name="BaseResponseOfBillListResponseSHA2568F1FUdyT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="BillListResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.AgentResponses" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfBillListResponseSHA2568F1FUdyT" nillable="true" type="tns:BaseResponseOfBillListResponseSHA2568F1FUdyT" />
  <xs:complexType name="BaseRequestOfAddWorkOrderRequestSHA256_S6Bq0k7I">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AddWorkOrderRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.AgentRequests" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfAddWorkOrderRequestSHA256_S6Bq0k7I" nillable="true" type="tns:BaseRequestOfAddWorkOrderRequestSHA256_S6Bq0k7I" />
  <xs:complexType name="BaseRequestOfServiceOperatorsRequestSHA256_S6Bq0k7I">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ServiceOperatorsRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.AgentRequests" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfServiceOperatorsRequestSHA256_S6Bq0k7I" nillable="true" type="tns:BaseRequestOfServiceOperatorsRequestSHA256_S6Bq0k7I" />
  <xs:complexType name="BaseResponseOfArrayOfNameValuePairSHA2568F1FUdyT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfNameValuePair" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.AgentResponses" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOfNameValuePairSHA2568F1FUdyT" nillable="true" type="tns:BaseResponseOfArrayOfNameValuePairSHA2568F1FUdyT" />
  <xs:complexType name="BaseRequestOfCustomerSetupTaskRequestSHA256_S6Bq0k7I">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CustomerSetupTaskRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.AgentRequests" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfCustomerSetupTaskRequestSHA256_S6Bq0k7I" nillable="true" type="tns:BaseRequestOfCustomerSetupTaskRequestSHA256_S6Bq0k7I" />
  <xs:complexType name="BaseResponseOfArrayOfCustomerSetupTaskResponseSHA2568F1FUdyT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCustomerSetupTaskResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.AgentResponses" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOfCustomerSetupTaskResponseSHA2568F1FUdyT" nillable="true" type="tns:BaseResponseOfArrayOfCustomerSetupTaskResponseSHA2568F1FUdyT" />
  <xs:complexType name="BaseRequestOfAgentClientFormsRequestSHA256_S6Bq0k7I">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AgentClientFormsRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.AgentRequests" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfAgentClientFormsRequestSHA256_S6Bq0k7I" nillable="true" type="tns:BaseRequestOfAgentClientFormsRequestSHA256_S6Bq0k7I" />
  <xs:complexType name="BaseResponseOfAgentClientFormsResponseSHA2568F1FUdyT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AgentClientFormsResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.AgentResponses" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfAgentClientFormsResponseSHA2568F1FUdyT" nillable="true" type="tns:BaseResponseOfAgentClientFormsResponseSHA2568F1FUdyT" />
  <xs:complexType name="BaseRequestOfSaveAgentClientAttachmentRequestSHA256_S6Bq0k7I">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SaveAgentClientAttachmentRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.AgentRequests" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfSaveAgentClientAttachmentRequestSHA256_S6Bq0k7I" nillable="true" type="tns:BaseRequestOfSaveAgentClientAttachmentRequestSHA256_S6Bq0k7I" />
  <xs:complexType name="BaseResponseOfNullableOfbooleanSHA256qBRhzOKh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NullableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfNullableOfbooleanSHA256qBRhzOKh" nillable="true" type="tns:BaseResponseOfNullableOfbooleanSHA256qBRhzOKh" />
  <xs:complexType name="BaseRequestOfBillReceiptRequestSHA256_S6Bq0k7I">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="BillReceiptRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.AgentRequests" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfBillReceiptRequestSHA256_S6Bq0k7I" nillable="true" type="tns:BaseRequestOfBillReceiptRequestSHA256_S6Bq0k7I" />
  <xs:complexType name="BaseResponseOfBillReceiptResponseSHA2568F1FUdyT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="BillReceiptResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.AgentResponses" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfBillReceiptResponseSHA2568F1FUdyT" nillable="true" type="tns:BaseResponseOfBillReceiptResponseSHA2568F1FUdyT" />
  <xs:complexType name="BaseRequestOfRelatedPaymentsRequestSHA256_S6Bq0k7I">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RelatedPaymentsRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.AgentRequests" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfRelatedPaymentsRequestSHA256_S6Bq0k7I" nillable="true" type="tns:BaseRequestOfRelatedPaymentsRequestSHA256_S6Bq0k7I" />
  <xs:complexType name="BaseResponseOfRelatedPaymentsResponseSHA2568F1FUdyT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RelatedPaymentsResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.AgentResponses" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfRelatedPaymentsResponseSHA2568F1FUdyT" nillable="true" type="tns:BaseResponseOfRelatedPaymentsResponseSHA2568F1FUdyT" />
  <xs:complexType name="BaseRequestOfAgentAllowanceRequestSHA256_S6Bq0k7I">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AgentAllowanceRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.AgentRequests" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfAgentAllowanceRequestSHA256_S6Bq0k7I" nillable="true" type="tns:BaseRequestOfAgentAllowanceRequestSHA256_S6Bq0k7I" />
  <xs:complexType name="BaseResponseOfAgentAllowanceResponseSHA2568F1FUdyT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AgentAllowanceResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.AgentResponses" />
          <GenericParameter Name="SHA256" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA256o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfAgentAllowanceResponseSHA2568F1FUdyT" nillable="true" type="tns:BaseResponseOfAgentAllowanceResponseSHA2568F1FUdyT" />
</xs:schema>